body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #070a0f;
    height: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    app-header {
        width: 100%;
        margin-bottom: 30px;
    }
    div {
        color: white;
        font-size: 3em;
    }
    .navbar {
        width: 100%;
    }
}