div {
    width: 100%;
    background-color: #04702B;
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}