<main class="home">
  <H1 class="logo">VBALL</H1>
  <form  #f="ngForm" (ngSubmit)="create(f)">
    <h2>Organiser une session</h2>
    <ul>
      <li>
        <Label>Date</Label>
        <input type="date" name="date" ngModel/>
      </li>
      <li>
        <Label>heure</Label>
        <input type="time" name="heure" value="20:00" ngModel/>
      </li>
      <li>
        <Label>Lieu</Label>
        <input type="text" name="lieu" value="Hall Omnisport de Gérardchamps - Verviers" ngModel/>
      </li>
    </ul>

    <button type="submit">Créer la session</button>
  </form>
</main>

<app-nav-bar></app-nav-bar>