<main class="home">
    <app-header [titre]="header"></app-header>

    <form #f="ngForm" (ngSubmit)="create(f)">
        <h2>Organiser une session</h2>
        <ul>
            <li>
                <Label>Date</Label>
                <input type="date" name="date" ngModel={{defaultDate}} />
            </li>
            <li>
                <Label>heure</Label>
                <input type="time" name="heure" value="20:00" ngModel="20:00" />
            </li>
            <li>
                <Label>Lieu</Label>
                <input type="text" name="lieu" ngModel="Hall Omnisport de Gérardchamps - Verviers" />
            </li>
        </ul>
        <div class="error" *ngIf="error!=empty">{{error}}</div>
        <button type="submit">Créer la session</button>
    </form>
    <app-nav-bar class="navBar"></app-nav-bar>
</main>