<main class="home">
  <H1 class="logo">VBALL</H1>
  <form>
    <h2>Organiser une session</h2>
    <ul>
      <li>
        <Label>Date</Label>
        <input type="date" />
      </li>
      <li>
        <Label>heure</Label>
        <input type="time" value="20:00" />
      </li>
      <li>
        <Label>Lieu</Label>
        <input type="text" value="Hall Omnisport de Gérardchamps - Verviers" />
      </li>
      <li>
        <Label>Nombre d'équipes</Label>
        <input type="number" min="1" max="4" value="4" />
      </li>
    </ul>

    <button onclick="">Créer la session</button>
  </form>
</main>
