div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #04702B;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    img {
        cursor: pointer;
        width: 25%;
        height: 35%;
    }
}