/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}